<div class="container">
  <h1>PRESTIGE, WORLDWIDE.</h1>
  <form (submit)='onSubmit()' #formData='ngForm'>
    <p>Name: <input name='name' type='text' [(ngModel)] = 'user.name' required minlength="3"></p>
    <p>Email: <input name='email' type='text' [(ngModel)] = 'user.email' required minlength="3"></p>
    <p>Password: <input name='password' type='text' [(ngModel)] = 'user.password' required minlength="3"></p>
    <p>Password Confirmation: <input name='passwordconfirm' type='text' [(ngModel)] = 'user.passwordconfirm' required minlength="3"></p>
    <input id="button"type="submit" name="" value="Login!"  [disabled]="!formData.valid">
    <img width="200" *ngIf='formData.valid' src="https://i.pinimg.com/originals/4e/29/33/4e2933723f1958fd8aeb1c2ca017b05c.jpg" alt="">
  </form>
  <iframe width="360" height="170" src="https://www.youtube.com/embed/lrSBgntjD60?start=35" frameborder="4" allowfullscreen></iframe>
</div>
<!-- <a [routerLink]="['/dashboard']">Show Dashboard</a>
<a [routerLink]="['/create-edit']">Add Product</a>
<a [routerLink]="['/products']">Show Product</a>
  {{ formData.valid | json }} -->
