<div class="container">
    <a [routerLink]="['/products']">Add Product</a>
  <table border='3'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Picture</th>
        <th>Edit</th>
        <th>Product ID</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td><a [routerLink]="['/products', product.id]">{{product.name}}</a></td>
        <td>{{product.location}}</td>
        <td><img width="150"src="{{product.picture}}" alt=""></td>
        <td>{{product._id}}</td>
        <td><a [routerLink]="['/edit']">Update Product</a></td>
        <td><button (click)="delete(product._id)">Delete Item</button></td>
      </tr>
    </tbody>
  </table>
</div>
